<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="simpleBean" class="com.bellagnech.springlite.test.SimpleBean">
        <property name="message" value="Hello from XML configuration!" />
    </bean>
    
    <bean id="setterInjectionBean" class="com.bellagnech.springlite.test.SetterInjectionBean">
        <property name="dependency" ref="simpleBean" />
    </bean>
    
    <bean id="fieldInjectionBean" class="com.bellagnech.springlite.test.FieldInjectionBean">
        <property name="dependency" ref="simpleBean" />
    </bean>
    
    <bean id="valueBean" class="com.bellagnech.springlite.test.ValueBean">
        <property name="stringValue" value="Hello, Spring Lite!" />
        <property name="intValue" value="42" />
    </bean>
    
    <bean id="prototypeBean" class="com.bellagnech.springlite.test.PrototypeBean" scope="prototype" />
</beans>
